extends ../layout
 
block title
  | Edit Article

block content  
  form(method="POST", action="/article/#{articleId}/edit")
    .form-group(class=titleError ? "has-error" : "")
      label.control-label(for="title") Title
      input.form-control(type="text", name="title", value="#{articleModel.title}")
      if titleError
        span.help-block #{titleError}
    .form-group(class=textError ? "has-error" : "")
      label.control-label(for="text") Text
      textarea.form-control(name="text") #{articleModel.text}
      span.help-block You can use <a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">markdown</a>.
      if textError
        span.help-block #{textError}
    button.btn.btn-primary.btn-lg(type="submit") Update
