extends ../layout

block title
  | Sign Up

block content
  h1 Sign Up
  form(method="POST", action="/account/sign-up")
    .form-group(class=userNameError ? "has-error" : "")
      label.control-label(for="userName") User Name
      input.form-control(type="text", name="userName", value="#{signUpModel.userName}")
      if userNameError
        span.help-block #{userNameError}
    .form-group(class=passwordError ? "has-error" : "")
      label.control-label(for="password") Password
      input.form-control(type="password", name="password", value="#{signUpModel.password}")
      if passwordError
        span.help-block #{passwordError}
    .form-group
      .radio
        label    
          input(type="radio", name="role", value="Reader", checked=signUpModel.role == "Reader")
          | Reader
      .radio
        label    
          input(type="radio", name="role", value="Writer", checked=signUpModel.role == "Writer")
          | Writer
    button.btn.btn-primary.btn-lg(type="submit") Sign Up
