extends ../layout

block title
  | #{category.Name}

block content
  h2 #{category.Name}
  ul.list-unstyled
    for article in category.Articles
      li
        h3 
          | <span class="glyphicon glyphicon-file"></span>
          a(href="/article/#{article.ArticleId}") #{article.Title}
        +article_meta(article)
        div!= markdownHelper.renderMarkdown(article.FirstParagraph)
        p: a(href="/article/#{article.ArticleId}") (Read more...)
