mixin article_meta(article)
  p.text-muted
    | on #{dateHelper.makeDate(article.CreatedAt)} 
    | at #{dateHelper.makeTime(article.CreatedAt)} 
    | by 
    a(href="/user/#{article.User.UserId}") #{article.User.Name} 
    | in 
    a(href="/category/#{article.Category.CategoryId}") #{article.Category.Name}
