mixin article_meta(article)
  p.text-muted
    | <span class="glyphicon glyphicon-calendar"></span> #{dateHelper.makeDate(article.CreatedAt)} 
    | <span class="glyphicon glyphicon-time"></span> #{dateHelper.makeTime(article.CreatedAt)} 
    | <span class="glyphicon glyphicon-user"></span> 
    a(href="/user/#{article.User.UserId}") #{article.User.Name} 
    | <span class="glyphicon glyphicon-book"></span> 
    a(href="/category/#{article.Category.CategoryId}") #{article.Category.Name}
