extends ../layout

block title
  | Home

block content
  .row
    .col-md-6   
      .list-group
        for category in home.Categories
          a.list-group-item(href="/category/#{category.CategoryId}")
            h4.list-group-item-heading: #{category.Name}
            p.list-group-item-text category            
    .col-md-6
      ul.list-unstyled
        for article in home.MostRecentArticles
          li
            h3
              | <span class="glyphicon glyphicon-file"></span>
              a(href="/article/#{article.ArticleId}") #{article.Title}
            +article_meta(article) 
            div!= markdownHelper.renderMarkdown(article.FirstParagraph)
            p: a(href="/article/#{article.ArticleId}") (Read more...)
