extends ../layout

block title
  | Home

block content
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading: h2.panel-title Most Recent Articles
        .panel-body
          ul.list-unstyled
            for article in home.MostRecentArticles
              li
                h3: a(href="/article/#{article.Id}") #{article.Title}
                p on #{dateHelper.makeDate(article.CreatedAt)} at #{dateHelper.makeTime(article.CreatedAt)} 
                div!= markdownHelper.renderMarkdown(article.Text)
